<div class="container">
  <div class="card my-3">
    <div class="card-header">Mes Annonces</div>
    <div class="card-body">
      <div *ngIf="!showForm">
        <div class="text-center">
          <button (click)="showForm = !showForm" class="btn btn-primary">Deposer une Annonce</button>
        </div>
        <div *ngIf="!myAds" class="alert alert-info my-3">Vous List des Annonces est Vide</div>
        <div *ngIf="myAds" class="row">
          <div *ngFor="let a of myAds" class="col-md-3">
            <div class="card my-3">
              <img [src]="'http://localhost:8080/ads/images/' + a.image" alt="" class="card-img-top">
              <div class="card-body">
                <h5>{{a.title}}</h5>
              </div>
              <div class="card-footer text-center">
                <div (click)="onAdDelete(a.id)" class="fa fa-times-circle fa-2x text-danger mx-2"></div>
                <div class="fa fa-exclamation-circle fa-2x text-info mx-2"></div>
                <div (click)="goAdDetail(a.id)" class="fa fa-plus-circle fa-2x text-secondary mx-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showForm" class="row">
        <div class="col-md-10 offset-md-1">
          <app-add-ad (showMe)="actionA($event)"></app-add-ad>
        </div>
      </div>
    </div>
  </div>
</div>
