<div class="container">
  <div class="card mt-3">
    <div class="card-header">Authentication</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div *ngIf="error" class="alert alert-danger">Votre Login ou Password est incorrect</div>
          <form [formGroup]="user">
            <div class="form-group">
              <label for="username">Username: </label>
              <input formControlName="username" type="text" placeholder="Enter Username" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password: </label>
              <input formControlName="password" type="password" placeholder="Enter Password" class="form-control">
            </div>
            <button (click)="onLogin()" class="btn btn-info">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
